/* styles.css */
body {
    background-color: #181818; /* Color de fondo oscuro */
    color: #ffffff; /* Color de texto claro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1a1a1a;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #222;
    position: fixed;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    display: none; /* Oculto por defecto */
    z-index: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: #1E88E5; /* Color de los enlaces */
    text-decoration: none;
}

.video-gallery {
    margin-left: 220px; /* Dejar espacio para el menú */
    padding: 20px;
}

.video-item {
    margin-bottom: 20px;
}

.video-item img {
    max-width: 100%; /* Asegura que la miniatura no se desborde */
    border-radius: 8px;
}

footer {
    background-color: #1a1a1a;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

#menu-toggle {
    background-color: #FF4081; /* Color del botón */
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    z-index: 2; /* Asegúrate de que esté por encima */
}
