/* Ocultar el menú lateral por defecto */
#sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #2e2e2e;
    padding-top: 20px;
    left: -250px; /* El menú se desplaza hacia fuera de la pantalla */
    transition: left 0.3s ease; /* Transición suave */
}

/* Estilo del icono de hamburguesa */
#menu-icon {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
}

/* Cuando el menú está activo (mostrado), lo traemos de vuelta a la vista */
#sidebar.active {
    left: 0;
}
